<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<header>
  <nav>
    <a href="../index.html">Essays</a>
    <a href="../quotes.html">Quotes</a>
<!--    <a href="../finds.html">Finds</a>-->
    <a href="../about.html">Anant Vijay</a>
  </nav>
</header>
<main>
  <article>
    <h1>{{title}}</h1>
    <p class="essay-date">{{date}}</p>

    <section class="essay-content">
      {{content}}
    </section>

    <div class="essay-actions">
      <div class="essay-actions">
        <!-- Email feedback button -->
        <a href="{{email-link}}" class="email-feedback">
          <img src="../icons/email.svg" alt="Email" class="icon">
           Email me your feedback/comments
        </a>

        <!-- Back to essay list button -->
        <a href="../index.html" class="back-to-essays">
          <img src="../icons/arrow-left.svg" alt="Back" class="icon">
           Go back to essay list
        </a>
      </div>

    </div>
  </article>
</main>
</body>
</html>
